.about {
    padding: 6% 0;
    &-image {
        @include sm{
            text-align: center;
        }
        & img {
          max-width: 512px;
          width: 100%;
          @include sm{
            max-width: 240px;
            margin-bottom: 20px;
          }
        }
    }
    &-content {
        @include sm{
            text-align: center;
            padding-bottom: 50px;
        }

        h2 {
            line-height: 120%;
            margin-bottom: 24px;
            @include ssm{
                margin-bottom: 5px;
            }
        }
        p {
            color: $text;
            -webkit-text-stroke-width: 0.10000000149011612px;
            -webkit-text-stroke-color: $text;
            @include font-24;
            line-height: 160%;
            max-width: 571px;
            @include sm{
                margin-inline: auto;
                font-size: 16px;
            }
        }
    }
}