@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Recursive:wght@300..1000&family=Space+Grotesk:wght@300..700&display=swap');
@font-face{
    font-family: "MS-Sans-Serif";
    src:url("../font/ms-sans-serif/MS-Sans-Serif.ttf");
}
@font-face{
    font-family: "MS-Sans-Serif-Bold";
    src:url("../font/ms-sans-serif-bold/MS-Sans-Serif-Bold.ttf");
}

html, body, html body{
    overflow-x: hidden;
}

body {
    font-family: "MS-Sans-Serif";
    font-weight: 400;
    color: $text;
    line-height: 160%;
    background: black;
    overflow-x: hidden;
    @include font-24;
    height: 100vh;
    background-image: url("../img/home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#root{
    height: 100%;
}
.mainRow{
    height: calc(100% - 67px);
}
button:focus {
    outline: none;
    border-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "MS-Sans-Serif-Bold";
    color: $primary;
    font-weight: 400;
    margin-bottom: 0;
}
h1{
    @include h1-font-size;
    line-height: 100%;
}
h2{
    @include h2_font_size;
}
h3{
    @include h3_font_size;    
    -webkit-text-stroke-width: 0.10000000149011612px;
    -webkit-text-stroke-color: var(--Heading, #101212);
}

h5{
    @include font-24;
}
p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}
figure{
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid #f1f1f1;
    outline: none;
    @include transition;
    @include sm{
        padding: 10px 15px;
    }
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: #f3f3f3;
}

nav ul li {
    font-family: "Outfit", sans-serif;
    display: inline-block;
    position: relative;
    @include transition;
}

/* custom scroll bar  */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #02007F;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #02007F;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #02007F;
  }

/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


//bg cover
.bg-cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1380px;
    padding-left: 15px;
    padding-right: 15px;
    margin-inline: auto;
}

.boxed-btn{
    color: $black;
    font-family: $font-2;
    @include font-24;
    position: relative;
    z-index: 1;
    padding: 14px 26px;
    padding-bottom: 22px;
    transition: all .3s ease-in-out;
    @include sm{
        font-size: 16px;
    }
    &:hover{
        color: $blue;

    }
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../img/home-button.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}


.social-links{
    display: flex !important;
    align-items: center;
    gap: 16px;
    a{
       position: relative;
       z-index: 1;
        margin-left: 0;
        background:transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mmd{
           margin-right: 0;
        }
        svg{
            width: 32px;
        }
    }
     .boxed-btn{
        width: auto;
     }
 }
.section-title{
    h2{
        margin-bottom: 20px;
    }
    p{
        -webkit-text-stroke-width: 0.10000000149011612px;
        -webkit-text-stroke-color: $text;
    }
}


 .copytoclipboard{
    position: relative;
    margin-top: 30px;
    max-width: 602px;
    margin-inline: auto;
    padding: 17.5px 8px 17.5px 24px;  
    background: var(--mono-white, #FFF);
    box-shadow: 2px 2px 0px 0px #262626 inset, -2px -2px 0px 0px #F0F0F0 inset, 4px 4px 0px 0px #7E7E7E inset;
    @include mmd{
        margin-top: 20px;
        padding: 12px 20px;
        margin-inline: auto;
    }
    @include ssm{
        width: 80%;
    }
    p{
        width: 100%;
        -webkit-text-stroke-width: 0.10000000149011612px;
        -webkit-text-stroke-color: var(--Paragraph, #3E4242);
        color:$text;
        @include font-20;
        font-weight: 400;
        line-height: 160%;
        @include ssm{
            width: 95%;
            overflow: hidden;
        }
    }
    button {
        position: absolute;
        top: 50%;
        right: 5px;
        padding: 8.313px 22.313px;
        padding-bottom: 12px;
        transform: translateY(-50%);
        height: 46px;
        border: 0;
        background: var(--mono-100, #C3C3C3);
        box-shadow: -2px -2px 0px 0px #262626 inset, 2px 2px 0px 0px #F0F0F0 inset, -4px -4px 0px 0px #7E7E7E inset, 4px 4px 0px 0px #B1B1B1 inset;
        padding: 0;
        width: 65px;
        &:hover{
            background: $white;
        }
        & img{
            max-width: 20px;
            width: 100%;
        }
        @include sm{
            width: 60px;
            right:4px;
        }
    }
}

.contentFrame{
    width: 1268px;
    overflow-x: hidden;
    margin-inline: auto;
    padding: 4px;
    height: 80vh;
    background: var(--mono-100, #C3C3C3);
    box-shadow: -2.855px -2.855px 0px 0px #262626 inset, 2.855px 2.855px 0px 0px #F0F0F0 inset, -5.71px -5.71px 0px 0px #7E7E7E inset, 5.71px 5.71px 0px 0px #B1B1B1 inset;
    @include sm{
        height: auto;
        padding-bottom: 100px;
    }
    &-topBar{
        background: var(--blue-200, #02007F);
        padding: 7.137px 5.71px 7.137px 11.419px;
        .tmIcon {
            max-width: 40px;
            @include mmd{
                max-width: 30px;
            }
        }
        span{
            color: var(--mono-white, #FFF);
            font-family: "MS-Sans-Serif";
            @include font-36;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include mmd{
                font-size: 25px;
            }
        }
        .topRight{
            button{
                background: transparent;
                border: 0;
                padding: 0;
                width: 45px;
                height: 45px;
                margin-left: 5px;
                transition: all .3s ease-in-out;
                &:hover{
                    opacity: .5;
                }
                @include mmd{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    &-details{
        background: var(--mono-white, #FFF);
        box-shadow: 2.855px 2.855px 0px 0px #262626 inset, -2.855px -2.855px 0px 0px #F0F0F0 inset, 5.71px 5.71px 0px 0px #7E7E7E inset;
        display: block;
        height: 100%;
        padding: 10px;
        overflow: scroll;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}

.contentFrame {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .contentFrame.zoomed {
    transform: scale(1.155);
  }
  
  .contentFrame.closing {
    opacity: 0;
    transform: scale(0.9);
  }
  
  /* Optional: Add more styling for .contentFrame, .contentFrame-topBar, etc. */
  .contentFrame {
    transition: all 0.3s ease;
  }
  
  .contentFrame.closing {
    opacity: 0;
    transform: scale(0.9);
  }
  
  .contentFrame.zoomed {
    transform: scale(1.1);
  }
  
  .contentFrame .contentFrame-details {
    transition: max-height 0.3s ease;
  }
  
  .contentFrame.minimized .contentFrame-details {
    max-height: 0;
    overflow: hidden;
  }
  