.home {
    padding: 9% 39px;
    &-content {
        & h2 {
            font-size: 85px;
            font-weight: 400;
            line-height: 100%;
        }
        & p {
            color: $text;
            -webkit-text-stroke-width: 0.10000000149011612px;
            -webkit-text-stroke-color: $text;
            font-size: 24px;
            line-height: 160%;
            margin-bottom: 48px;
        }
    }

    &-image {
        img {
            max-width: 508px;
            width: 100%;
            object-fit: contain;

        }
    }
}