.home {
    padding: 9% 39px;
    @include mmd{
        padding-right: 20px;
    }
    @include ssm{
        padding-inline: 0px;
    }
    @include sm{
        padding-bottom: 80px;
    }
    &-content {
        @include sm{
            text-align: center;
        }
        & h1 {
            line-height: 130%;
            @include mmd{
                padding-top: 20px;
            }
            @include ssm{
                padding-top: 10px;
            }
        }
        & p {
            color: $text;
            -webkit-text-stroke-width: 0.10000000149011612px;
            -webkit-text-stroke-color: $text;
            @include font-24;
            line-height: 160%;
            margin-bottom: 48px;
            @include sm{
                margin-bottom: 20px;
            }
        }
    }

    &-image {
        @include sm{
            text-align: center;
        }
        img {
            max-width: 508px;
            width: 100%;
            object-fit: contain;
            @include sm{
                max-width: 300px;
                margin-inline: auto;
            }
            @include ssm{
                max-width: 240px;
            }
        }
    }
}