.howtoBuy{
    padding: 5%;
    padding-bottom: 6%;
    @include mmd{
        padding-top: 300px;
    }
    .section-title{
        margin-bottom: 6%;
    }
    .single-item{
        padding: 24px;
        background: $white;
        box-shadow: 2px 2px 0px 0px #262626 inset, -2px -2px 0px 0px #F0F0F0 inset, 4px 4px 0px 0px #7E7E7E inset;
        height: 100%;
        .icon{
            width: 74px;
            height: 74px;
            padding: 18.778px;
            background: $white;
            margin-inline: auto;
            box-shadow: 2px 2px 0px 0px #262626 inset, -2px -2px 0px 0px #F0F0F0 inset, 4px 4px 0px 0px #7E7E7E inset;
            img{
                max-width: 40px;
            }
            margin-bottom: 20px;
        }
        h3{
            text-transform: capitalize;  
            -webkit-text-stroke-width: 0.10000000149011612px;
            -webkit-text-stroke-color: var(--Heading, #101212);
            margin-bottom: 15px;
        }
        p{
            @include font-18;
            text-transform: capitalize;
            -webkit-text-stroke-width: 0.10000000149011612px;
            -webkit-text-stroke-color: var(--Paragraph, #3E4242);
            line-height: 160%;
        }
    }
}