@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin img($property) {
    width: 100%;
    height: 100%;
    object-fit: $property;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin postion_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin potion_left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin potion_right {
    position: absolute;
    top: 0;
    right: 0;
}
@mixin potion_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

@mixin h1-font-size {
    font-size: 85px;
    @include lg {
        font-size: 60px;
    }
    @include md {
        font-size: 50px;
    }
    @include sm {
        font-size: 40px;
    }
    @include ssm {
        font-size: 35px;
    }
}

@mixin h2_font_size {
    font-size: 68px;
    @include lg {
        font-size: 50px;
    }
    @include md {
        font-size: 40px;
    }
    @include sm {
        font-size: 30px;
    }
}



@mixin h3_font_size {
    font-size: 26px;
    @include lg {
        font-size: 24px;
    }
    @include md {
        font-size: 22px;
    }
    @include sm {
        font-size: 20px;
    }
}


@mixin font-36 {
    font-size: 36px;
    @include mmd {
        font-size: 30px;
    }
    @include sm {
        font-size: 26px;
    }
}

@mixin font-26 {
    font-size: 26px;
    @include mmd {
        font-size: 22px;
    }
}
@mixin font-24 {
    font-size: 24px;
    @include lg {
        font-size: 22px;
    }
    @include mmd {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-22 {
    font-size: 22px;
    @include mmd {
        font-size: 18px;
    }
}
@mixin font-20 {
    font-size: 20px;
    @include mmd {
        font-size: 18px;
    }
}

@mixin font-18 {
    font-size: 18px;
    @include mmd {
        font-size: 16px;
    }
}

@mixin font-15 {
    font-size: 15px;
    @include ssm {
        font-size: 14px;
    }
}