.navitem {
    ul {
        margin-top: 40px;
        display: inline-flex;
        overflow-x: scroll;
        justify-content: center;
        padding-inline: 20px;
        @include sm{
            margin-bottom: 0px;
            margin-top: 5px;
        }
        li {
            margin-bottom: 30px;
            display: inline-block;
            flex: 0 0 auto;
            cursor: pointer;
            @include sm{
                margin-bottom: 5px;
                margin-inline: 15px;
                display: inline-block;
            }
            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
                margin-bottom: 3px;
                @include md{
                    width: 30px;
                    height: 30px;
                }
                @include sm{
                    width: 20px;
                    height: 20px;
                }
            }
            a {
                color:$white;
                text-align: center;
                -webkit-text-stroke-width: 0.2806701958179474px;
                -webkit-text-stroke-color: #FFF;
                @include font-26;
                text-transform: capitalize;
                line-height: 140%;
                @include md{
                    font-size: 16px;
                }
                @include sm{
                    font-size: 14px;
                }
            }
            a.active {
                color:#02007F;
                -webkit-text-stroke-color: #02007F;
            }
        }
    }
}