.navitem {
    @include sm{
        overflow: auto;
    }
    ul {
        margin-top: 40px;
        @include sm{
            margin-bottom: 0px;
            margin-top: 5px;
            width: max-content;
            margin-inline: auto;
            display: flex; // Default to flex display
            justify-content: center;
            padding-inline: 20px;
            list-style: none;
            padding: 0;
            -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS
        }
        li {
            margin-bottom: 30px;
            cursor: pointer;
            @include sm{
                margin-bottom: 5px;
                margin-inline: 20px;
                display: inline-block; // Ensure items are inline
                flex: 0 0 auto; // Prevent flex items from shrinking
            }
            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
                margin-bottom: 3px;
                @include md{
                    width: 30px;
                    height: 30px;
                }
                @include sm{
                    width: 20px;
                    height: 20px;
                }
            }
            a {
                color:$white;
                text-align: center;
                -webkit-text-stroke-width: 0.2806701958179474px;
                -webkit-text-stroke-color: #FFF;
                @include font-26;
                text-transform: capitalize;
                line-height: 140%;
                @include md{
                    font-size: 16px;
                }
                @include sm{
                    font-size: 14px;
                    display: block;
                    padding: 10px;
                }
            }
            a.active {
                color:#02007F;
                -webkit-text-stroke-color: #02007F;
            }
        }
    }
}