.tokenomics{
    padding-inline: 90px;
    @include lg{
        padding-inline: 60px;
    }
    @include mmd{
        padding-inline: 30px;
    }
    @include sm{
        padding-inline: 0px;
    }
    .chart-image{
        @include sm{
            text-align: center;
        }
        @include sm{
            img{
                max-width: 240px;
            }
        }
        
    }
}