@import '../scss/colors';
@import '../scss/mixins';
@import '../scss/media_quers';
@import "bootstrap";
@import '../scss/base';
@import '../scss/navitem';
@import '../scss/home';
@import '../scss/about';
@import '../scss/how_to_buy';
@import '../scss/tokenomics';
@import '../scss/chart';
@import '../scss/faq';
@import '../scss/contact';
@import '../scss/footer';